<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form class="row g-3 register-new-form" #registerNewForm="ngForm">
  <!-- date -->
  <div class="col-md-5">
    <span class="select-type">
      <i class="icon fas fa-calendar-alt"></i>
      <input
        type="date"
        class="form-control date"
        [value]="currentDate"
        disabled
      />
    </span>
  </div>

  <!-- visit type -->
  <div class="col-md-5">
    <div class="select-type">
      <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
      <select
        ngModel
        class="form-select"
        id="visit-type"
        name="visitType"
        required
        #visitType="ngModel"
      >
        <option value="" disabled selected hidden>
          {{ addVisitorConstants.SELECT_VISIT_TYPE }}
        </option>
        <option value="inside_office">
          {{ addVisitorConstants.INSIDE_OFFICE }}
        </option>
        <option value="outside_office">
          {{ addVisitorConstants.OUTSIDE_OFFICE }}
        </option>
      </select>
    </div>
    <small *ngIf="visitType.invalid && visitType.touched">{{
      addVisitorConstants.VISIT_TYPE_REQ
    }}</small>
  </div>

  <!-- first name -->
  <div class="flex col-md-5 pt-2">
    <span class="p-float-label">
      <i class="icon fas fa-user"></i>
      <input
        pInputText
        ngModel
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        pattern="^(?! )[a-zA-Z ]{1,}"
        autocomplete="name"
        #name="ngModel"
        minlength="1"
        maxlength="30"
      />
      <label class="label" htmlFor="name"
        >Name<span class="star-color">*</span></label
      >
    </span>
    <small *ngIf="name.invalid && name.touched">{{
      addVisitorConstants.NAME_REQ
    }}</small>
  </div>

  <!-- phone number -->
  <div class="flex justify-content-center col-md-5 pt-2">
    <span class="p-float-label">
      <i class="icon fas fa-phone"></i>
      <input
        pInputText
        ngModel
        type="text"
        class="form-control"
        id="phone"
        name="phoneNumber"
        required
        pattern="[0-9]{10}"
        #phone="ngModel"
      />
      <label class="label" htmlFor="phone"
        >{{ addVisitorConstants.PHONE }}<span class="star-color">*</span></label
      >
    </span>
    <small *ngIf="phone.invalid && phone.touched && phone.errors?.['required']">
      {{ addVisitorConstants.PHONE_REQ }}
    </small>
    <small
      *ngIf="phone.invalid && phone.touched && !phone.errors?.['required']"
    >
      {{ addVisitorConstants.PHONE_INVALID }}
    </small>
  </div>

  <!-- organization -->
  <div class="col-md-5 pt-2 flex justify-content-center">
    <span class="p-float-label">
      <i class="icon fas fa-building"></i>
      <input
        pInputText
        ngModel
        type="text"
        class="form-control"
        id="organization"
        name="organization"
        required
        pattern="^(?! )[a-zA-Z0-9 ]{1,}"
        maxlength="30"
        #organization="ngModel"
      />
      <label class="label" htmlFor="organization"
        >Organization<span class="star-color">*</span></label
      >
    </span>
    <small
      *ngIf="
        organization.invalid &&
        organization.touched &&
        organization.errors?.['required']
      "
      >{{ addVisitorConstants.ORG_REQ }}</small
    >
    <small
      *ngIf="
        organization.invalid &&
        organization.touched &&
        !organization.errors?.['required']
      "
      >{{ addVisitorConstants.ORG_INVALID }}</small
    >
  </div>

  <!-- email -->

  <div class="col-md-5 pt-2 flex justify-content-center">
    <span class="p-float-label">
      <i class="icon fas fa-envelope"></i>
      <input
        pInputText
        ngModel
        type="email"
        class="form-control"
        id="email"
        name="email"
        pattern="^[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"
        email
        #userEmail="ngModel"
      />
      <label class="label" htmlFor="email">{{
        addVisitorConstants.EMAIL
      }}</label>
    </span>

    <small
      *ngIf="
        userEmail.invalid && userEmail.touched && !userEmail.errors?.['required']
      "
    >
      {{ addVisitorConstants.EMAIL_INVALID }}
    </small>
  </div>

  <!-- address -->

  <div class="flex col-md-10 pt-2 justify-content-center">
    <span class="p-float-label">
      <i class="icon fas fa-map-marker-alt address-icon"></i>
      <textarea
        ngModel
        rows="1"
        cols="30"
        pInputText
        class="form-control"
        id="address"
        maxlength="255"
        name="address"
        pattern="^[#.0-9a-zA-Z\s,-]+$"
        autocomplete="address"
        #address="ngModel"
      ></textarea>
      <small
        *ngIf="address.invalid && address.touched && !address.errors?.['required']"
      >
        {{ addVisitorConstants.ADDRESS_INVALID }}
      </small>
      <label class="label address-label" htmlFor="address">Address</label>
    </span>
  </div>

  <!-- wg-id card -->
  <div class="col-md-5 pt-2 select-type">
    <i class="fa-solid fa-id-card-clip"></i>
    <select
      ngModel
      [value]="selectedCardId"
      class="form-select"
      id="id-card"
      name="cardId"
      required
      #cardId="ngModel"
    >
      <option value="" disabled selected hidden>Select Id card</option>

      <option value="" disabled *ngIf="!(cards | async)?.length">
        {{ addVisitorConstants.NO_CARDS_AVAILABLE }}
      </option>
      <option *ngFor="let card of cards | async" value="{{ card.card_id }}">
        {{ card.card_id }}
      </option>
    </select>
    <small *ngIf="cardId.invalid && cardId.touched">
      {{ addVisitorConstants.CARD_REQ }}
    </small>
  </div>

  <!-- to-meet -->
  <div class="col-md-5 flex justify-content-center pt-2">
    <span class="p-float-label">
      <i class="icon fas fa-user-friends"></i>
      <input
        pInputText
        ngModel
        type="text"
        class="form-control"
        id="to-meet"
        name="toMeet"
        required
        pattern="^(?! )[a-zA-Z ]{1,}"
        autocomplete="to-meet"
        #toMeet="ngModel"
        minlength="1"
        maxlength="30"
      />

      <label class="label" htmlFor="to-meet"
        >{{ addVisitorConstants.TO_MEET
        }}<span class="star-color">*</span></label
      >
    </span>
    <small
      *ngIf="toMeet.invalid && toMeet.touched && toMeet.errors?.['required']"
    >
      {{ addVisitorConstants.TO_MEET_REQ }}
    </small>
    <small
      *ngIf="toMeet.invalid && toMeet.touched && !toMeet.errors?.['required']"
    >
      {{ addVisitorConstants.TO_MEET_INVALID }}
    </small>
  </div>

  <!-- purpose -->
  <div class="col-md-5 pt-2 flex justify-content-center">
    <span class="p-float-label">
      <i class="icon fas fa-question-circle"></i>
      <input
        pInputText
        ngModel
        type="text"
        class="form-control"
        id="purpose"
        name="purpose"
        required
        pattern="^(?! )[a-zA-Z ]{1,}"
        autocomplete="purpose"
        #purpose="ngModel"
        minlength="1"
        maxlength="30"
      />
      <label class="label" htmlFor="purpose"
        >Purpose<span class="star-color">*</span></label
      >
    </span>
    <small
      *ngIf="purpose.invalid && purpose.touched && purpose.errors?.['required']"
    >
      {{ addVisitorConstants.PURPOSE_REQ }}
    </small>
    <small
      *ngIf="purpose.invalid && purpose.touched && !purpose.errors?.['required']"
    >
      {{ addVisitorConstants.PURPOSE_INVALID }}
    </small>
  </div>

  <!-- comments -->
  <div class="col-md-5 pt-2 flex justify-content-center">
    <span class="p-float-label">
      <i class="icon fas fa-comment"></i>
      <input
        pInputText
        ngModel
        type="text"
        class="form-control"
        id="comments"
        name="comments"
        pattern="^(?! )[a-zA-Z ]{1,}"
        autocomplete="comments"
        #comments="ngModel"
        maxlength="100"
      />
      <small
        *ngIf="
          comments.invalid && comments.touched && comments.value.length > 0
        "
      >
        {{ addVisitorConstants.COMMENTS_INVALID }}
      </small>
      <label class="label" htmlFor="comments">{{
        addVisitorConstants.COMMENTS
      }}</label>
    </span>
  </div>

  <div class="camera-container">
    <!-- left images -->
    <div
      class="col-md-5 d-flex flex-column camera align-items-center"
      [ngClass]="{ invalid: isPhotoImageInvalid }"
    >
      <p>
        {{ addVisitorConstants.CLICK_USER_PHOTO
        }}<span class="star-color">*</span>
      </p>
      <div>
        <img
          class="shimmer-img"
          *ngIf="showUserPhotoPlaceholder"
          (click)="!showIDCamera ? openPhotoCamera() : ''"
          src="../../../assets/images/add-visitor/pic-logo.png"
          alt="shimmer image"
          height="100px"
        />
      </div>
      <div class="mt-3" *ngIf="showPhotoCamera">
        <webcam
          [trigger]="invokeObservable"
          (imageCapture)="capturePhotoImg($event)"
          [height]="150"
        ></webcam>
      </div>

      <div class="mt-3" *ngIf="webcamPhotoImage">
        <img
          [src]="webcamPhotoImage.imageAsDataUrl"
          height="150px"
          alt="Profile Image"
        />
      </div>

      <div
        class="justify-center align-items-center"
        *ngIf="!showUserPhotoPlaceholder"
      >
        <button
          *ngIf="webcamPhotoImage"
          class="common-btn mt-3"
          (click)="!showIDCamera ? resetPhotoCamera() : clickPictureError()"
        >
          {{ addVisitorConstants.RESET }}
        </button>
        <button
          *ngIf="!webcamPhotoImage"
          class="common-btn save-btn mt-3"
          (click)="!showIDCamera ? getPhotoSnapshot() : clickPictureError()"
        >
          {{ addVisitorConstants.CAPTURE_IMAGE }}
        </button>
      </div>
    </div>

    <!-- right image -->
    <div
      class="col-md-5 camera d-flex flex-column align-items-center"
      [ngClass]="{ invalid: isIDImageInvalid }"
    >
      <p>
        {{ addVisitorConstants.CLICK_ID_PHOTO
        }}<span class="star-color">*</span>
      </p>
      <div>
        <img
          class="shimmer-img"
          *ngIf="showIDplaceholder"
          (click)="!showPhotoCamera ? openIDCamera() : ''"
          src="../../../assets/images/add-visitor/camera-logo.png"
          alt="shimmer image"
          height="100px"
        />
      </div>

      <div class="mt-3" *ngIf="showIDCamera">
        <webcam
          [trigger]="invokeObservable"
          (imageCapture)="captureIDImg($event)"
          [height]="150"
        ></webcam>
      </div>

      <div class="mt-3" *ngIf="webcamIDImage">
        <img
          [src]="webcamIDImage.imageAsDataUrl"
          height="150px"
          alt="ID card Image"
        />
      </div>

      <div class="justify-center align-items-center" *ngIf="!showIDplaceholder">
        <button
          *ngIf="webcamIDImage"
          class="common-btn mt-3"
          (click)="!showPhotoCamera ? resetIDCamera() : clickPictureError()"
        >
          {{ addVisitorConstants.RESET }}
        </button>
        <button
          *ngIf="!webcamIDImage"
          class="common-btn save-btn mt-3"
          (click)="!showPhotoCamera ? getIDSnapshot() : clickPictureError()"
        >
          {{ addVisitorConstants.CAPTURE_IMAGE }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="common-btn" (click)="closeDialog()">
      <i class="fas fa-times"></i> {{ addVisitorConstants.CANCEL }}
    </button>
    <button
      type="button"
      class="common-btn save-btn ms-3"
      (click)="onSubmit(registerNewForm)"
      [disabled]="disableBtn"
    >
      <i class="fas fa-user-plus"></i> {{ addVisitorConstants.SAVE }}
    </button>
  </div>
</form>
