.container {
  display: grid;
  grid-template-columns: 2% 97%;
  gap: 1%;
  .left-side {
    .back-btn {
      margin-top: 10px;
      transition: all 0.3s ease-in-out;
      .fa-solid {
        font-size: 25px;
      }
      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
  }
}

.rightside {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  .upper {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-areas: "detail photo gov";
    justify-content: space-between;
    align-items: space-between;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    .visitor-details {
      grid-area: detail;
      text-align: left;
      font-size: 2rem;

      .sub-heading {
        background-color: #f8f9fa;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 15px 10px;
        text-align: center;

        .edit-details {
          cursor: pointer;
          margin-left: 30%;
        }
      }

      table {
        width: 100%;

        tr {
          .detail-heading {
            font-weight: 600;
            padding-left: 30px;
          }
          td {
            padding: 8px 0px;
            padding-right: 10px;
          }
        }
      }
    }
    .photo {
      grid-area: photo;
      text-align: center;

      .sub-heading {
        background-color: #f8f9fa;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 15px 10px;
      }
      display: flex;
      flex-direction: column;
      img {
        height: 180px;
        object-fit: contain;
      }
    }
    .govern-id {
      grid-area: gov;
      text-align: center;
      .sub-heading {
        background-color: #f8f9fa;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding: 15px 10px;
      }
      display: flex;
      flex-direction: column;
      img {
        height: 180px;
        object-fit: contain;
      }
    }
  }
  .lower {
    margin-top: 2%;
  }
}

//table style

th {
  text-align: start;
}
td,
th {
  padding: 0.8rem 0.8rem;
  font-size: 0.9rem !important;
}
.right-part {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.print-pdf-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.card-table {
  overflow: hidden;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}
:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    background-color: #d8dadc;

    .p-progressbar-value {
      background-color: #607d8b;
    }
  }

  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  .p-w-100 {
    width: 100%;
  }

  .back-btn:hover {
    cursor: pointer;
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .rightside {
      .upper {
        .visitor-details {
          // text-align: center;
          .detail-heading {
            padding-left: 50px !important;
          }
          tr {
            border-bottom: 1px solid #eef4fa;
          }
        }
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "detail detail" "photo gov";
      }
    }
  }

  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            width: 100%;
            display: flex;
            align-items: center;
            border: 0 none;

            .p-column-title {
              min-width: 30%;
              display: inline-block;
              font-weight: bold;
            }

            p-progressbar {
              width: 100%;
            }

            &:last-child {
              border-bottom: 1px solid var(--surface-d);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ng-tns-c419082668-0 .p-calendar {
    width: 100% !important;
  }
  .table-header {
    div {
      width: 100%;
    }
    span {
      width: 100%;
    }

    flex-direction: column;
    gap: 0.5rem;
  }
  .right-part {
    div {
      span {
        width: 100% !important;
      }
    }
    input {
      width: 100%;
    }
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    .rightside {
      .upper {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "detail" "photo" "gov";
      }
    }
  }
}

.heading-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heading-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
