<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="content">
  <div class="dialog-box">
    <form #forgotPassword="ngForm">
      <div class="email-form reset-password" [hidden]="changingPassword">
        <label for="username" class="form-label" [hidden]="changingPassword">{{
          constants.EMAIL
        }}</label>
        <div class="email-input-group mb-3">
          <div class="input-with-icon">
            <input
              ngModel
              name="userEmail"
              type="email"
              email
              class="form-control email-form"
              id="userEmail"
              pattern="^[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"
              required
              placeholder="{{ constants.ENTER_EMAIL }}"
              #userEmail="ngModel"
            />
            <i class="fa-solid fa-user input-icon"></i>
            <span
              *ngIf="
                userEmail.invalid &&
                userEmail.touched &&
                userEmail.errors?.['required']
              "
              class="login-validation-error"
            >
              {{ constants.EMAIL_REQ }}
            </span>
            <span
              *ngIf="
                userEmail.invalid &&
                userEmail.touched &&
                !userEmail.errors?.['required']
              "
              class="login-validation-error"
            >
              {{ constants.EMAIL_INVALID }}
            </span>
          </div>
          <button
            id="otp"
            type="button"
            (click)="onSendOtp(userEmail.value)"
            class="common-btn send-otp-btn"
            [disabled]="!userEmail.valid"
          >
            {{ otpSent ? constants.RESEND_OTP : constants.SEND_OTP }}
          </button>
        </div>

        <div class="otp" [hidden]="!otpSent">
          <label for="otp" class="form-label">{{ constants.OTP }} </label>
          <div class="input-with-icon mb-4">
            <i class="fa-solid fa-lock input-icon"></i>
            <input
              ngModel
              name="otp"
              class="form-control"
              id="name"
              name="code"
              required
              placeholder="{{ constants.ENTER_OTP_SENT_TO_EMAIL }}"
              #userOTP="ngModel"
              pattern="^[0-9]{6}$"
              required
            />
            <span
              *ngIf="
                userOTP.invalid && userOTP.touched &&  userOTP.errors?.['required']
              "
              class="login-validation-error"
            >
              {{ constants.OTP_REQ }}
            </span>
            <small
              *ngIf="userOTP.invalid && userOTP.touched && !userOTP.errors?.['required']"
              class="login-validation-error"
            >
              {{ constants.OTP_INVALID }}
            </small>
          </div>
          <div class="display-flex text-center">
            <button
              id="password"
              type="button"
              class="common-btn reset-pass-btn"
              (click)="onVerifyOtp(forgotPassword)"
              [disabled]="!otpSent || userOTP.invalid"
              [hidden]="!otpSent || changingPassword"
            >
              {{ constants.RESET_PASSWORD }}
            </button>
          </div>
        </div>
      </div>

      <div class="reset-password" [hidden]="!changingPassword">
        <label for="password" class="form-label">
          {{ constants.PASSWORD }}
        </label>
        <div class="input-with-icon mb-4">
          <input
            ngModel
            name="password"
            [type]="hide ? 'password' : 'text'"
            class="form-control"
            id="password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            required
            placeholder="{{ constants.ENTER_PASSWORD }}"
            #userPassword="ngModel"
          />

          <i class="fa-solid fa-lock input-icon"></i>
          <i
            *ngIf="!hide"
            class="fa-solid fa-eye-slash eye-icon input-icon"
            (click)="showHidePassword()"
            tabindex="1"
          ></i>
          <i
            tabindex="2"
            *ngIf="hide"
            class="fa-solid fa-eye eye-icon input-icon"
            (click)="showHidePassword()"
          ></i>
          <span
            *ngIf="
              userPassword.invalid &&
              userPassword.touched &&
              userPassword.errors?.['required']
            "
            class="login-validation-error"
          >
            {{ constants.PASSWORD_REQ }}
          </span>
          <span
            *ngIf="
              userPassword.invalid &&
              userPassword.touched &&
              !userPassword.errors?.['required']
            "
            class="login-validation-error"
            title="{{ constants.VALID_PASSWORD_TITLE }}"
          >
            {{ constants.PASSWORD_INVALID }}
            <i class="fa-solid fa-info-circle"></i>
          </span>
        </div>
        <label for="confirmPassword" class="form-label">
          {{ constants.CONFIRM_PASSWORD }}
        </label>
        <div class="input-with-icon mb-4">
          <input
            ngModel
            name="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            required
            placeholder="{{ constants.CONFIRM_NEW_PASSWORD }}"
            #userConfirmPassword="ngModel"
          />
          <i class="fa-solid fa-lock input-icon"></i>

          <span
            *ngIf="
              userConfirmPassword.invalid &&
              userConfirmPassword.touched &&
              userPassword.errors?.['required']
            "
            class="login-validation-error"
          >
            {{ constants.CONFIRM_PASSWORD_REQ }}
          </span>
          <span
            *ngIf="
              userConfirmPassword.invalid &&
              userConfirmPassword.touched &&
              !userPassword.errors?.['required']
            "
            title="{{ constants.VALID_PASSWORD_TITLE }}"
            class="login-validation-error"
          >
            {{ constants.CONFIRM_PASSWORD_INVALID }}
            <i class="fa-solid fa-info-circle"></i>
          </span>
        </div>
        <div class="display-flex text-center">
          <button
            id="password"
            type="button"
            class="common-btn me-3"
            (click)="onBack()"
          >
            {{ constants.BACK }}
          </button>
          <button
            id="password"
            type="button"
            class="common-btn save-btn"
            (click)="resetPassword(forgotPassword)"
            [disabled]="!forgotPassword.valid"
          >
            {{ constants.SAVE }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
