.content {
  .dialog-box {
    .reset-password {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }

    .email-input-group {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .card-input {
        padding: 6px;
        text-decoration: none;
      }
      .email-form {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
      }
    }
  }
  form {
    font-family: "Poppins", sans-serif;
    width: 400px;
    .form-label {
      margin-left: 10px;
    }

    .form-control {
      padding: 12px 40px;
      font-size: 0.9rem;
      border-radius: 5px !important;
    }
    .input-with-icon {
      position: relative;

      .input-icon {
        position: absolute;
        top: 16px;
        left: 16px;
      }
      .eye-icon {
        left: 90%;
        cursor: pointer;
      }
      .eye-icon:hover {
        left: 90%;
      }
      .forgot-password {
        cursor: pointer;
      }
      .forgot-password:hover {
        color: var(--primary-color);
      }
    }
  }
}

.send-otp-btn {
  height: 48px;
  width: 27%;
  cursor: pointer;
  text-align: center;
  transition: var(--main-transition);
}
.fa-arrow-left {
  color: black;
}
