<div class="card card-table">
  <p-table
    #dt
    [value]="visits"
    [(selection)]="selectedVisit"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="[
      'name',
      'ph_number',
      'organization',
      'status',
      'date',
      'check_in_time',
      'check_out_time',
      'status',
      'to_meet'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        Visits
        <div class="right-part">
          <div class="card flex justify-content-center">
            <p-calendar
              [(ngModel)]="rangeDates"
              selectionMode="range"
              [readonlyInput]="true"
              placeholder="Select a Date Range"
            ></p-calendar>
          </div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              (input)="applyFilterGlobal($event, 'contains')"
              class="p-inputtext p-component p-element"
              pInputText
              type="text"
              placeholder="Global Search"
            />
          </span>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-pdf"
            (click)="exportPdf()"
            class="p-button-warning mr-2 print-pdf-btn"
            pTooltip="PDF"
            tooltipPosition="bottom"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">#</th>
        <th pSortableColumn="name" style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="organization" style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center">
            Organisation
            <p-sortIcon field="organization"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="ph_number" style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center">
            Phone
            <p-sortIcon field="ph_number"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="date" style="min-width: 9rem">
          <div class="flex justify-content-between align-items-center">
            Date
            <p-sortIcon field="date"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="check_in_time" style="min-width: 8rem">
          <div class="flex justify-content-between align-items-center">
            In-Time
            <p-sortIcon field="check_in_time"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="check_out_time" style="min-width: 8rem">
          <div class="flex justify-content-between align-items-center">
            Out-Time
            <p-sortIcon field="check_out_time"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="status" style="min-width: 9rem">
          <div class="flex justify-content-between align-items-center">
            Status
            <p-sortIcon field="status"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="to_meet" style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center">
            ToMeet
            <p-sortIcon field="to_meet"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-visit let-rowIndex="rowIndex">
      <tr class="p-selectable-row">
        <td>
          {{ rowIndex + 1 }}
        </td>
        <td>
          <span class="p-column-title">Name</span>
          {{ visit.name }}
        </td>
        <td>
          <span class="p-column-title">Organization</span>
          <span class="ml-1 vertical-align-middle">{{
            visit.organization
          }}</span>
        </td>
        <td>
          <span class="p-column-title">Phone</span>
          <span class="ml-1 vertical-align-middle">{{ visit.ph_number }}</span>
        </td>
        <td>
          <span class="p-column-title">Date</span>
          {{ visit.date | date : "MM/dd/yyyy" }}
        </td>
        <td>
          <span class="p-column-title">In Time</span>
          {{ visit.check_in_time }}
        </td>

        <td>
          <span class="p-column-title">Out Time</span>
          {{ visit.check_out_time }}
        </td>
        <td>
          <span class="p-column-title">Status</span>
          <p-tag
            [value]="visit.status"
            [severity]="getSeverity(visit.status) || undefined"
          ></p-tag>
        </td>
        <td>
          <span class="p-column-title">To Meet</span>
          {{ visit.to_meet }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="text-center">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
